/* src/components/FileUpload.css */


.upload-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-container h2 {
  margin-bottom: 20px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-form input[type="file"] {
  margin-bottom: 15px;
  width: 100%;
}

.focus-input {
  margin-bottom: 15px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.upload-button {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.upload-button:disabled {
  background-color: #a5d6a7;
  cursor: not-allowed;
}

.upload-button:hover:not(:disabled) {
  background-color: #45a049;
}

.info-text {
  width: 80vw;

}
